---
import Layout from '@layouts/Layout.astro';
import ProjectOverview from "@components/ProjectOverview.astro";
---

<Layout
	title="Mein persönliches Portfolio - Frank"
	description="Beispielbeschreibung"
>
	<section>
		<ProjectOverview />
	</section>
</Layout>

<style>
</style>
