---
import Layout from '@layouts/Layout.astro';
import ProjectOverview from "@components/ProjectOverview.astro";
import projectsImage from "@assets/icons/projects.svg";
import {Image} from "astro:assets";
---
<Layout
	title="Mein persönliches Portfolio - Frank"
	description="Beispielbeschreibung"
>
	<section id="projects-section" data-query="">
		<article>
			<div class="content">
				<div class="text">
					<h1>Einblicke in meine Projekte</h1>
					<p>
						Willkommen auf meiner Projekte-Seite, wo du eine Übersicht über meine bisherigen Projekte findest. Sie zeigen dir, wie ich in der Praxis arbeite und welchen Mehrwert ich in verschiedenen Aufgabenbereichen bieten kann.
					</p>
					<p>
						Projekte sind für mich nicht nur abgeschlossene Aufgaben, sondern eine Sammlung von konkreten Lösungen und Ergebnissen. Jedes Projekt hier zeigt, wie ich bestimmte Herausforderungen angegangen und bewältigt habe.
					</p>
				</div>
				<Image
					src={projectsImage}
					alt="AltImage"
					loading="eager"
				/>
			</div>
		</article>

		<article>
			<h2 style="padding-top: 5rem">Projektübersicht</h2>
			<p>
				Entdecke meine Projekte und erhalte Einblicke in meine vielseitige Arbeit. Wenn du weitere Informationen zu einem bestimmten Projekt wünschst, stehe ich gerne zur Verfügung.
			</p>
			<ProjectOverview />
		</article>
	</section>
</Layout>

<style lang="scss">
	section {
		text-align: center;
		margin: 2.5rem 0 5rem;
	}
	.content {
		text-align: left;
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: center;
		gap: 2.5rem;
		.text {
			width: calc(66% - 2.5rem);
		}
		img {
			width: 33%;
			height: auto;
		}
		@media (max-width: 650px) {
			flex-flow: column;
			gap: .5rem;
			&:nth-child(even) {
				flex-direction: column;
			}
			.text, img {
				width: 100%;
			}
		}
	}
</style>
