---
import { Image } from 'astro:assets';
import headerImage from '../../assets/projects/oekologisch-lg.webp';
import Layout from "../../layouts/Layout.astro";
const metaTitle = 'Frank - Projekte - Ökologisch';
const metaDescription = 'MetaDescription';
---
<Layout
    title={metaTitle}
    description={metaDescription}
>
    <article>
        <header>
            <Image
                src={headerImage}
                alt="AltImage"
                loading="eager"
            />
        </header>
        <div>
            <h1>Ökologisch</h1>
        </div>
        <footer>
            This is the Footer
        </footer>
    </article>
</Layout>
