/*
* Variables
*/
:root {
    --color-accent: #d40000;
    --color-dark: #333;
    --color-always-dark: #333;
    --color-light: #f8f9fa;
    --color-always-light: #f8f9fa;
}
/*@media (prefers-color-scheme: dark) {
    :root {
        --color-accent: #d40000;
        --color-dark: #f8f9fa;
        --color-light: #333;
    }
}*/

/*
* Font Faces
*/
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/AvenirRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Avenir';
    src: url('/fonts/AvenirHeavy.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/*
* Typography
*/

h1, h2, h3, h4, h5 {
    font-family: Avenir, sans-serif;
}

/*
* Basic
*/
html, body {
    font-family: Avenir, sans-serif;
    font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem); /* 16- 20 */
    color: var(--color-dark);
    background: var(--color-light);
    background-image: url('/images/background.svg');
}
body.fix-body {
    overflow: hidden;
}
main, .wrapper {
    width: 1280px;
    max-width: calc(100% - 2rem);
    padding: 0 1rem;
    margin: 0 auto;
}
main {
    @media (min-width: 992px) {
        padding-top: 308px;
    }
}
::selection {
    color: var(--color-light);
    background-color: var(--color-dark);
}


/* Small devices */
@media (min-width: 576px) {}

/* Medium devices */
@media (min-width: 768px) {}

/* Large devices */
@media (min-width: 992px) {}

/* X-Large devices */
@media (min-width: 1200px) {}

/* XX-Large devices */
@media (min-width: 1400px) {}
