=
---
import Layout from '@layouts/Layout.astro';
---

<Layout
        title="Mein persönliches Portfolio - Frank"
        description="Beispielbeschreibung"
>
    <section>
        <h1>Datenschutzerklärung</h1>
        <p>
            Diese Datenschutzerklärung informiert Sie darüber, wie personenbezogene Daten auf der Website [frankzinsli.ch] gesammeln, verwendet und geschützt werden.
        </p>


        <h2>1. Verantwortliche Stelle</h2>
        <p>
            Verantwortlich für die Datenverarbeitung auf dieser Website ist:<br />
            Frank Zinsli - mail(at)frankzinsli.ch
        </p>


        <h2>2. Erhebung und Verarbeitung von Daten</h2>
        <ul>
            <li>
                Beim Besuch der Website werden bestimmte Daten automatisch erfasst, wie Ihre IP-Adresse, Browsertyp, Gerätetyp, Verweildauer auf der Website und besuchte Seiten. Diese Informationen dienen der Analyse und Verbesserung der Website und werden anonymisiert gespeichert.
            </li>
            <li>
                Wenn Sie das Kontaktformular auf der Website nutzen, werden die von Ihnen bereitgestellten Daten, einschließlich Ihres Namens, Ihrer E-Mail-Adresse und Ihrer Nachricht erfasst. Diese Daten werden verwendet, um auf Ihre Anfrage zu antworten und zur Kommunikation mit Ihnen.
            </li>
        </ul>


        <h2>3. Matomo (Piwik) Analytics</h2>
        <p>
            Diese Website verwendet Matomo (ehemals Piwik), ein Open-Source-Analysetool. Matomo verwendet Cookies, um Informationen über die Nutzung der Website zu sammeln. Diese Daten helfen, die Website zu verbessern. Die IP-Adressen der Besucher werden anonymisiert, bevor sie gespeichert werden.
        </p>


        <h2>4. Cookies</h2>
        <p>
            Wir verwenden keine zusätzlichen Cookies auf unserer Website.
        </p>

        <h2>5. Weitergabe von Daten</h2>
        <p>
            Ihre personenbezogenen Daten werden nicht an Dritte weitergegeben.
        <p>


        <h2>6. Ihre Rechte</h2>
        <p>
            Sie haben das Recht, Auskunft über die von uns gespeicherten Daten zu erhalten, sowie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung Ihrer Daten.
        </p>


        <h2>7. Änderungen dieser Datenschutzerklärung</h2>
        <p>
            Diese Datenschutzerklärung kann aktualisiert werden, um Änderungen in den Datenschutzpraktiken widerzuspiegeln. Es ist empfehlenswert, diese Seite regelmäßig zu überprüfen, um auf dem neuesten Stand zu bleiben.
        </p>


        <h2>8. Kontakt</h2>
        <p>
            Bei Fragen oder anderen Anliegen, kontaktieren Sie mich bitte:
            <br>
            Frank Zinsli
            mail(at)frankzinsli.ch
        </p>

        <p style="padding-top: 2rem">
            <b>Stand: 26.10.2023</b>
        </p>
    </section>
</Layout>

<style>
    h2 {
        padding-top: 1.66rem;
        padding-bottom: 0;
        margin: 0;
        font-size: 1.25rem;
    }
    p {
        padding-top: .25rem;
        margin: 0;
    }
</style>
