---
import Layout from '@layouts/Layout.astro';
---

<Layout
        title="Mein persönliches Portfolio - Frank"
        description="Beispielbeschreibung"
>
    <section>
        <h1>Impressum</h1>
        <p>
            <b>Verantwortlich für den Inhalt dieser Website:</b><br>
            Frank Zinsli<br>
            <a href="mailto:mail@frankzinsli.ch">mail@frankzinsli.ch</a>
        </p>

        <p>
            <b>Inhaltlich verantwortlich gemäß Art. 4 DSGVO:</b><br>
            Frank Zinsli<br>
            <a href="mailto:mail@frankzinsli.ch">mail@frankzinsli.ch</a>
        </p>

        <p>
            <b>EU-Datenschutz-Grundverordnung (DSGVO) und Datenschutz in der Schweiz:</b><br>
            Ich beachten die Datenschutzbestimmungen der DSGVO der EU und die Datenschutzgesetze der Schweiz. Weitere Informationen finden Sie in meiner <a href="/datenschutz" rel="prefetch">Datenschutzerklärung</a>.
        </p>

        <p>
            <b>Haftungshinweis:</b><br>
            Trotz sorgfältiger inhaltlicher Kontrolle übernehmen ich keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
        </p>

        <p>
            <b>Bildnachweise:</b><br>
            [Angabe der Urheberrechte für verwendete Bilder, falls erforderlich]
        </p>

        <p>
            <b>Kontakt:</b><br>
            <a href="/kontakt" rel="prefetch">Link zum Kontaktformular</a>
        </p>
        <p>
            Stand: 01.01.2024
        </p>
    </section>
</Layout>

<style>
</style>
