---
import Layout from '@layouts/Layout.astro';
---

<Layout
	title="Mein persönliches Portfolio - Frank"
	description="Beispielbeschreibung"
>
	<section>
		<h1>
			Kontaktiere mich
	</h1>
	<p>
Möchten Sie mit mir in Kontakt treten? Ich freue mich darauf, von Ihnen zu hören! Auf dieser Seite finden Sie ein benutzerfreundliches Kontaktformular, das es Ihnen ermöglicht, mir Ihre Anliegen, Fragen oder Anfragen bequem zuzusenden.

Füllen Sie einfach das Formular aus, geben Sie Ihre Kontaktdaten an und schreiben Sie Ihre Nachricht. Ich werde mich so bald wie möglich bei Ihnen melden.
	</p>
	</section>
</Layout>

<style>
</style>
