---
import Layout from '@layouts/Layout.astro';
import contactImage from "@assets/icons/contact.svg";
import {Image} from "astro:assets";
---

<Layout
        title="Mein persönliches Portfolio - Frank"
        description="Beispielbeschreibung"
>
    <section>
        <article>
            <div class="content">
                <div class="text">
                    <h1>
                        Kontaktiere mich
                    </h1>
                    <p>
                        Möchtest du mit mir in Kontakt treten? Ich freue mich darauf, von dir zu hören!
                        Fülle einfach das Formular aus, trage die Kontaktdaten ein und schreibe deine Nachricht.
                        Ich werde mich so bald wie möglich bei dir melden.
                    </p>
                </div>
                <Image
                        src={contactImage}
                        alt="AltImage"
                        loading="eager"
                />
            </div>
        </article>

    </section>
</Layout>

<style lang="scss">
  section {
    margin: 2.5rem 0 5rem;
  }
    .content {
        text-align: left;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        .text {
            width: calc(66% - 2.5rem);
        }
        img {
            width: 33%;
            height: auto;
        }
        @media (max-width: 650px) {
            flex-flow: column;
            gap: .5rem;
            &:nth-child(even) {
                flex-direction: column;
            }
            .text, img {
                width: 100%;
            }
        }
    }
</style>
