---
import Layout from '@layouts/Layout.astro';
---

<Layout
	title="Mein persönliches Portfolio - Frank"
	description="Beispielbeschreibung"
>
	<section>
		<article>
			<h1>
				Über mich
			</h1>
		</article>
	</section>
</Layout>

<style>
</style>
