---
import oekologischImage from "@assets/projects/oekologisch-lg.webp";
import headerImage from "@assets/projects/1914-in-a-timeline-lg.webp";
import observationMapImage from "@assets/projects/observation-map-lg.webp";
import {Image} from "astro:assets";
---
<section  id="uebersicht">
    <article>
        <a href="/projekte/1914-in-a-timeline-glamhack" rel="prefetch">
            <Image
                src={headerImage}
                alt="AltImage"
                loading="eager"
            />
        </a>
        <a href="/projekte/oekologisch" rel="prefetch">
            <Image
               src={oekologischImage}
               alt="AltImage"
               loading="eager"
            />
        </a>
        <a href="/projekte/observation-map" rel="prefetch">
            <Image
               src={observationMapImage}
               alt="AltImage"
               loading="eager"
            />
        </a>
    </article>
</section>

<style lang="scss">
    article {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (max-width: 460px) {
        grid-template-columns: repeat(1, 1fr);
      }
      a {
        display: block;
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        object-fit: contain;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
</style>
