<footer>
    <div class="wrapper">
        <nav>
            <a href="/" rel="prefetch">Home</a>
            <a href="/ueber-mich" rel="prefetch">Über mich</a>
            <a href="/projekte" rel="prefetch">Projekte</a>
            <a href="/kontakt" rel="prefetch">Kontakt</a>
            <a href="/datenschutz" rel="prefetch">Datenschutz</a>
            <a href="/impressum" rel="prefetch">Impressum</a>
        </nav>
    </div>
</footer>
