<footer>
    <nav>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/ueber-mich">Über mich</a>
            </li>
            <li>
                <a href="/projekte">Projekte</a>
            </li>
            <li>
                <a href="/kontakt">Kontakt</a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="/datenschutz">Datenschutz</a>
            </li>
            <li>
                <a href="/impressum">Impressum</a>
            </li>
        </ul>
    </nav>
</footer>
