---
import {Image} from 'astro:assets';
import logoImage from '@assets/frank_logo.svg'
const currentPath = Astro.url.pathname;
---
<script>
    const burgerToggle = window.document.getElementById('burger-toggle');
    const headerNav = window.document.getElementById('header-nav');
    const documentBody = window.document.body;
    burgerToggle.addEventListener('click', () => {
        burgerToggle.classList.toggle('close-icon');
        headerNav.classList.toggle('show-nav');
        documentBody.classList.toggle('fix-body');
    })
    let lastKnownScrollPosition = 0;
    let ticking = false;
    let up = false;

    function doSomething(scrollPos) {
        if (scrollPos > 400) {
            document.getElementById('header-nav').classList.add('fix-top');
            document.getElementById('header-wrapper').classList.add('fix-top');
            document.getElementById('header-social-wrapper').classList.add('fix-top');
            document.getElementById('header').classList.add('fix-top');
        } else {
            document.getElementById('header-nav').classList.remove('fix-top');
            document.getElementById('header-wrapper').classList.remove('fix-top');
            document.getElementById('header-social-wrapper').classList.remove('fix-top');
            document.getElementById('header').classList.remove('fix-top');
        }
        if (scrollPos > 700) {
            document.getElementById('header').classList.add('fix-top-show');
        } else {
            document.getElementById('header').classList.remove('fix-top-show');
        }
    }

    document.addEventListener("scroll", (event) => {
        up = lastKnownScrollPosition > window.scrollY;
        lastKnownScrollPosition = window.scrollY;

        if (!ticking) {
            window.requestAnimationFrame(() => {
                doSomething(lastKnownScrollPosition);
                ticking = false;
            });

            ticking = true;
        }
    });
</script>

<header id="header">
    <div id="header-wrapper" class="wrapper">
        <a class="logo-link" href="/" aria-label="Link zur Startseite" rel="prefetch">
            <Image src={logoImage} alt="Frank Zinsli | Mein Logo fürs Portfolio" width="300" loading="eager" />
        </a>
        <div id="header-social-wrapper" class="social-wrapper">
            <a
                class="social-icon"
                title="Link zu meinem Linkedin Profil"
                href="https://ch.linkedin.com/in/frank-zinsli"
                target="_blank"
                rel="noreferrer nofollow noopener"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="var(--color-always-dark)"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                    <path d="M8 11l0 5" />
                    <path d="M8 8l0 .01" />
                    <path d="M12 16l0 -5" />
                    <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
            </a>
            <a
                class="social-icon"
                title="Link zu meinem Instagram Profil"
                href="https://www.instagram.com/frank.zinsli/"
                target="_blank"
                rel="noreferrer nofollow noopener"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="var(--color-always-dark)"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M16.5 7.5l0 .01" />
                </svg>
            </a>
            <a
                class="social-icon"
                title="Link zu meinem Facebook Profil"
                href="https://www.facebook.com/frank.zinsli/?locale=de_DE"
                target="_blank"
                rel="noreferrer nofollow noopener"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="var(--color-always-dark)"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
                </svg>
            </a>
            <a class="social-icon" title="Link zu meiner E-Mail" href="mailto:hallo@frankzinsli.ch">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="44"
                    height="44"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="var(--color-always-dark)"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 7h3" />
                    <path d="M3 11h2" />
                    <path d="M9.02 8.801l-.6 6a2 2 0 0 0 1.99 2.199h7.98a2 2 0 0 0 1.99 -1.801l.6 -6a2 2 0 0 0 -1.99 -2.199h-7.98a2 2 0 0 0 -1.99 1.801z" />
                    <path d="M9.8 7.5l2.982 3.28a3 3 0 0 0 4.238 .202l3.28 -2.982" />
                </svg>
            </a>
        </div>
        <button type="button" id="burger-toggle" aria-label="Navigation Toggle Button">
            <span />
            <span />
            <span />
        </button>
        <nav id="header-nav">
            <span>
                <a href="/" rel="prefetch" class:list={[currentPath === '/' && 'active']}>
                    Home
                </a>
            </span>
                <span>
                <a
                        href="/ueber-mich"
                        rel="prefetch"
                        class:list={[currentPath === '/ueber-mich' && 'active']}
                >
                    Über mich
                </a>
            </span>
                <span>
                <a
                        href="/projekte"
                        rel="prefetch"
                        class:list={[currentPath === '/projekte' && 'active']}
                >
                    Projekte
                </a>
            </span>
                <span>
                <a href="/kontakt" rel="prefetch" class:list={[currentPath === '/kontakt' && 'active']}>
                    Kontakt
                </a>
            </span>
        </nav>
    </div>
</header>

<style lang="scss">
  header {
    background-color: var(--color-always-light);
    background-image: url('/images/background.svg');
  }

  .wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    position: relative;

    img, .logo-link {
      width: 200px;
      max-width: 50vw;
      height: auto;
    }
  }

  .social-wrapper {
    display: none;
  }

  #burger-toggle {
    all: unset;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 1 !important;
    align-items: center;

    span:nth-child(1), span:nth-child(2), span:nth-child(3) {
      display: inline-block;
      content: '';
      width: 35px;
      height: 5px;
      background-color: var(--color-always-dark);
      margin: 3px 0;
      transition: ease all 0.4s;
    }

    span:nth-child(1) {
      width: 25px;
    }

    span:nth-child(2) {
      background-color: var(--color-accent);
    }

    span:nth-child(3) {
      width: 25px;
    }

    &.close-icon span:nth-child(1), &.close-icon span:nth-child(3) {
      width: 35px;
    }
  }

  .close-icon {
    span:nth-child(1) {
      transform: translate(0, 11px) rotate(-45deg);
      background-color: var(--color-dark) !important;
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: translate(0, -11px) rotate(45deg);
      background-color: var(--color-dark) !important;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    position: fixed;
    width: calc(100dvw - 8rem);
    min-height: calc(100dvh - 16rem);
    background: var(--color-light);
    inset: 0;
    transform: translateX(100dvw);
    transition: ease all 0.4s;
    padding: 8rem 4rem;

    &.show-nav {
      transform: translate(0);
    }

    a {
      font-weight: 700;
      text-decoration: unset;
      color: var(--color-dark);
      font-size: 1.17em;
    }
  }

  @media (min-width: 992px) {
    header {
      position: absolute;
      top: 0;
      width: 100vw;
      &.fix-top {
        position: fixed;
        top: -200px;
        left: 0;
        opacity: 0;
      }
      &.fix-top-show {
        top: 0;
        transition: top ease 300ms;
        opacity: 1;
      }
    }
    .social-wrapper {
      display: flex;
      flex-flow: row nowrap;
      gap: .5rem;
      &.fix-top {
        position: absolute;
        top: 0;
        right: 0;
        gap: .15rem;
        padding: 1rem 1rem 0 0;
        .social-icon {
          width: 25px;
          height: 25px;
        }
      }
    }
    .social-icon {
      display: inline-block;
      width: 50px;
      height: 50px;
      svg {
        width: 100%;
        height: auto;
        opacity: .8;
        &:hover {
          opacity: 1;
        }
      }
    }
    .wrapper {
      gap: 6rem;
      padding-bottom: 3rem;
      &.fix-top {
        gap: 0;
        padding-bottom: 2rem;
        padding-top: 2rem;
      }
    }
    #burger-toggle {
      display: none;
    }
    nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
      gap: 0;
      position: relative;
      width: fit-content;
      min-height: unset;
      background: unset;
      inset: unset;
      transform: unset;
      transition: unset;
      padding: 0 1rem .5rem;
      border-bottom: 1px solid var(--color-always-dark);
      &.fix-top {
        padding: 0.5rem 1rem 0.5rem;
      }

      a {
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 700;
        color: var(--color-always-dark);
        position: relative;
        opacity: .8;
        transition: opacity ease 300ms;
      }

      span:not(:first-child):before {
        content: "⦁";
        padding: 0 1.25rem;
        color: var(--color-accent);
      }

      span a:before, span a:after {
        content: "";
        width: 10px;
        height: 10px;
        position: absolute;
        display: block;
      }

      a:before {
        top: -10px;
        left: -15px;
        border-bottom: 3px solid transparent;
        border-right: 3px solid transparent;
        transition: top ease 0.4s, left ease 0.4s;
      }

      a:after {
        right: -15px;
        bottom: -5px;
        border-top: 3px solid transparent;
        border-left: 3px solid transparent;
        transition: bottom ease 0.4s, right ease 0.4s;
      }

      a.active {
        opacity: 1;
      }

      a:hover {
        opacity: 1;
      }

      a.active:before {
        top: -5px;
        left: -10px;
        border-top: 3px solid var(--color-accent);
        border-left: 3px solid var(--color-accent);
      }

      a.active:after {
        right: -10px;
        bottom: 0;
        border-bottom: 3px solid var(--color-accent);
        border-right: 3px solid var(--color-accent);
      }
    }
  }
</style>
