<header>
    <div class="wrapper">
        <nav>
            <a href="/">Home</a>
            <a href="/ueber-mich">Über mich</a>
            <a href="/projekte">Projekte</a>
            <a href="/kontakt">Kontakt</a>
        </nav>
    </div>
</header>
